* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #640D5F;
    font-weight: bold;
    padding: 8px;
}

.nav__link--books {
    border: 2px solid #640D5F;
    border-radius: 4px;
}