* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/*REUSABLE CODES*/
.purple__text {
    color: #7A1CAC;
}

.h1__Ireland--text {
    font-size: 45px;
}

body {
    max-width: 100vw;
    overflow-x: hidden; /*stops you from scrolling left to right*/
}

img {
    width: 100%; /*This puts all images to be 100% of their parent, gives them their width and height*/
    height: 100%; /*makes the height 100% of its relative parent*/
    max-height: 50vh; /*caps the height to 50% of its height of its relative parent*/
    padding: 20px; /*padding top and bottom*/
}

p {
    line-height: 1.5;
}

/**/

/*NAVIGATION SECTION*/

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px; /*stops the nav from touching the sides*/
    display: flex; /*allows for the next two settings to take place*/
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; /*centers container*/
}

.logo {
    width: 160px; /*logo width*/
}

ul {
    display: flex; /*puts lists side by side, parent of li*/
}

li {
    list-style-type: none; /*removes bullet points from the list*/
}

.nav__link {
    margin-left: 15px; /*creates space between links*/
    text-decoration: none; /*removes underline*/
    font-size: 20px; 
    color: #7A1CAC;
    font-weight: bold;
    padding: 8px; /*creates extra space, this is mostly because we add a button, if we remove this the border of "books" will be touching with the letter B and S*/
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--books {
    border: 2px solid #7A1CAC;
    border-radius: 4px; /*rounds corners*/
}

.nav__link--books:hover {
    text-decoration: none;
}

#nav__bar-top--background {
    background-color: rgba(115, 66, 214, 0.1);
}

/*HEADER SECTION*/

header {
    height: calc(100vh - 80px); /*This fills up the rest of the page from the background-color off #nav__bar-top--background*/
}

.header__container { /*This maxes width to 100% on the container that holds the text together, its the parent*/
    width: 100%;
    max-width: 720px;
    margin: 0 auto; /*centers container*/
    height: 100%;  /*↓*/
    display: flex; /*These 3, height, DF, FDC, allows the image to sit nicely in the landing page - it works because Figure and IMG is INSIDE the header.*/
    flex-direction: column; /*↑*/
    justify-content: space-around; /*this brings  the image straight to the bottom due to flex direction being column*/
    padding-top: 24px;
}

.header__description { /*parent of button*/
    display: flex; /*puts buttonside by side*/
    flex-direction: column; /*puts it below the h1 and h2*/
    align-items: center;  /*brings the button in*/
}

.header__img--wrapper {
    padding: 20px;
    z-index: 2; /*this adds a Z-index higher than the wave - the wave z-index is just 1*/
}

h1 {
    font-size: 56px; /*Makes text bigger*/
    margin-bottom: 24px; /*Creates space between h1+h2*/
    text-align: center; /*Center text in the middle*/
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px; /*creates space between the bottom text and the picture*/
}

button {
    cursor: pointer; /*this creates a pointer when you hover over any of the buttons*/
}

button:active {
    transform: translateY(1px); /*What this means is, when we click the button it will move  down one pixel, giving the illusion that it is animated when it gets clicked*/
}

.browse__books--button {
    background-color: #7A1CAC;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.container {
    padding: 56px 0; /*parent of section__title, h2 and row - pushes text down so that its not so cramped up with the picture*/ /*-------also increments of 8 pixels at all times in order to make the webpage more visually pleasing.*/
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*HIGHLIGHTS*/

#highlights {
    position: relative;
    max-width: 100vw;
}

#highlights:before { /*this puts things before highlights - so BEFORE highlights ELEMENT. put XYZ*/
    content: ""; /*even though this is an empty string we need this tag for our pseudo selector*/
    background: url('assets/wave.svg'); /*This is the image*/
    position: absolute; /*does not follow flow of page - set width manually*/
    width: 101vw; /*this makes the height get bigger the bigger the screen gets*/
    height: 12vw;
    top: 1px;
    left: 0;
    z-index: 1; /*Z-index moves things on top of each other*/
    background-size: cover; /*the background will be scaled to cover the entire container even if it means that some parts of the image  migh be cut off. This  ensures that  the image alwyas fills the container completely  without any empty spaces*/
    background-repeat: no-repeat; /*a background  image byy default  isrepeated vertically and horizontally.  But you can change this by using  this command*/
    transform: translateY(-100%); /*this makes it go on top of image to fix this you go onto .header__img--wrapper*/
}

#highlights:after { /*this puts things after highlights - so AFTER highlights ELEMENT. put XYZ*/
    content: ""; 
    background: url('assets/wave.svg'); 
    position: absolute; 
    width: 101vw;
    height: 12vw;
    bottom: 1px; /*puts it at the bottom instead of the top*/
    left: 0;
    z-index: 1; 
    background-size: cover; 
    background-repeat: no-repeat; 
    transform: translateY(100%) rotate(180deg); /*removing the negative pushes the image down to the bottom + rotates imag 180 degrees so waves are ontop*/
}

.highlight__wrapper {
    display: flex; /*this puts all of the highlight together since they are inside the parent of wrapper*/
}

.highlight {
    padding: 0 24px; /*Top and bottom is 0 - left and right is 24px, stops from touching the side of the page on other devices also.*/
    width: calc(100% / 3); /*this makes each .highlight 33% of the width*/
    display: flex; /*puts it side by side*/
    align-items: center; /*centers y axis*/
    justify-content: center; /*centers x axis*/
    flex-direction: column; /*puts it below each other*/
}

.highlight__para {
    text-align: center;
    max-width: 240px;
}

.highlight__img { /*targets only the image*/
    border: 2px solid #7a1cac47; /*added transparency*/
    color: #7A1CAC; /*colors in the symbol itself*/
    height: 100px; /*hardcode*/
    width: 100px; /*hardcode*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 32px; /*makes the icon bigger*/
    margin-bottom: 24px; /*gives space between the border and the text*/
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
}

/*Features Secttion*/

#features {
    padding-top: 16vw;
    background-color: rgba(115, 66, 214, 0.1);
}

.books {
   display: flex; /*puts books beside each other*/
}

.book {
    width: 25%; /*25% of parent*/
    padding: 24px;
}

.book__img {
    max-height: 380px;
    transition: all 300ms ease; /*akes the hover effect smoother*/
    cursor: no-drop; /*stops the person from clicking the book*/
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex; /*stops the book from coming out*/

}

.book:hover .book__img {
    transform: scale(1.03); /*when hover over book, I want the img to get a lil bigger by 3%*/
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title:hover { /*when you hover over the book title*/
    text-decoration: underline; 
    cursor: not-allowed; /*same as no drop*/
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through; /*line through price for discount*/
    padding-right: 6px;
    color: #bfbfbf;
}

/*Latest Books*/